section#author
    .container
        h3.author_title Об авторе
        img(src="img/olga.png", alt="Ольга Ревковская")#olga
        .author_about
            h4.author_about_title Ольга Ревковская
            ul.author_about_list
                li Одна из самых известных 
                    span регрессологов 
                    | России
                li Опыт работы в проведении индивидуальных регрессий 
                    span более 15 лет!
                li Опытный эзотерик, метафизик, парапсихолог с 
                    span 30-ти летним 
                    | опытом работы
                li Обучалась только у зарубежных 
                    span всемирно  известных специалистов 
                    | - Прагит Харрисс и  Джулиана, Ли Кэррол, Тодд Авокайтис, Пегги  Феникс Дубро
                li Автор собственного метода погружения в  прошлую жизнь по запросу
                li Автор 
                    span более 100  
                    | семинаров, мастер-классов и онлайн занятий по работе с родовыми  искажениями, травматикой, страхами и другими направлениями
                li Основатель "Университета Нового Человека"
                li Основатель Академии Хроник Акаши
                li Официальный практик Звездных Врат в России
        .clearfix