section#energies
    .container
        h3.energies_title Практики проходят в энергии 
            span Звездных Врат
        .row
            .col-md-4.col-sm-4
                img.en_img(src="img/en_icon_1.png", alt="Иконка")
                p.en_text С каждым из вас 
                    span индивидуально производится работа 
                    | на уровне световой матрицы, что является единством всех ваших тел
            .col-md-4.col-sm-4
                img.en_img(src="img/en_icon_2.png", alt="Иконка")
                p.en_text Происходит 
                    span восстановление искаженных 
                    | лучей света Вашей матрицы сознания
            .col-md-4.col-sm-4
                img.en_img(src="img/en_icon_3.png", alt="Иконка")
                p.en_text Разорванные и нарушенные тонкие световые структуры постепенно преобразуются и восстанавливаются, меняя 
                    span ЭНЕРГЕТИЧЕСКИЙ ДИЗАЙН
        a.button.en_button(href="#prices") Участвовать