section#for
    .container
        .for_container
            h3.for_title Этот мини-курс для тех, кто хочет:
            ul.for_list
                li Восстановить свои духовные силы;
                li Освободиться от негативных мыслей и страхов;
                li Восстановить правильное течение энергии в теле;
                li Активировать Духовные таланты и способности своей Души;
                li Исцелить свои физическое, ментальное, эмоциональное и эфирное тела
        .clearfix