section#interest
    .container
        h3.interest_title Самое интересное, что...
        h4.interest_subtitle ...для большинства участников медитации, изменения происходят сами по себе. Находясь в Энергии Звездных Врат вам 
            span ничего не нужно делать
            | , это пассивная работа с вашей стороны
        .row
            .col-md-4.col-sm-4
                img.int_img(src="img/i_icon_1.png", alt="Иконка")
                p.int_text 
                    span.in_span_main Что нужно делать Вам? 
                    | Просто глубоко расслабиться, довериться процессу и выражать намерения
            .col-md-4.col-sm-4
                img.int_img(src="img/i_icon_2.png", alt="Иконка")
                p.int_text Все изменения    
                    span запускаются в процессе 
                    | управляемо – направляемой медитации, путем поднятия вашей частоты вибраций
            .col-md-4.col-sm-4
                img.int_img(src="img/i_icon_3.png", alt="Иконка")
                p.int_text 
                    span.in_span_main Что происходит в медитации Звездных Врат? 
                    | За счет возможностей в эфирной структуре Stargate, участники совершают перемещение в более высокие измерения и находятся на этих частотах, уровнях. Спящие части многомерных нитей ДНК стимулируются к пробуждению
        #prices
            p.price.price_full Стоимость курса - 
                span 3 400руб.
            //- p.price.price_sale Скидка - 
            //-     span 1 000руб.
            //- p.price.price_today Стоимость сегодня - 
            //-     span 3 400руб.
            h4.right_now Записывайтесь прямо сейчас!
            a.button.button_buy(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2180&clean=true&lg=ru" target="_blank") Записаться
            .timer
                h4.right_now.right_now_red Цена изменится через:
                .clock
                .clock-stop