section#main
    .container
        include header
        .pre Мини-курс
            span Ольги Ревковской
        h1 Звездные Врата. 
            br
            | Энергетический Дизайн
        .main_date 
            p Даты проведения курса:
            p с 12 по 15 октября, 
                span 19:00 мск
        a(href="#prices").button.button_main Участвовать