section#plan
    #practics
        .container
            p.practics_par.practics_par_first Все практики ведутся в Энергии Звездных Врат
            p.practics_par
                span Звездные Врата 
                | - это одно из самых эффективных устройств нашего времени, которое способствует быстрому расширению сознания. Это межпространственный портал
            p.practics_par Знания о Звездных вратах получены путем ченнелинга от Альказара (хранителя и держателя ЗВ) Прагитом Харрисоном (США)
    .container
        h3.plan_title План курса
        .day_container.day_container_first
            .day_num_continer
                .day_num 1
                .day_name Занятие
            .day_list_container
                ul.day_list
                    li Освобождение от планетарных контрактов
                        span (Работа происходит с каждым индивидуально в Энергии Звездных Врат)
                    li Знакомство и работа со Звездной Семьей - Плеядианцами
        .day_container.day_container_second
            .day_num_continer
                .day_num 2
                .day_name Занятие
            .day_list_container
                ul.day_list
                    li Освобождение от сущностей нижнего астрального уровня
        .day_container(class= cl)
            .day_num_continer.day_container_third
                .day_num 3
                .day_name Занятие
            .day_list_container
                ul.day_list
                    li Что такое импланты и как они влияют на вашу жизнь
                    li Практика устранения имплантов - одна из самых важных практик в жизни человека, способных в корне изменить кармические взаимоотношения и поменять судьбу
        .day_container.day_container_fourth
            .day_num_continer
                .day_num 4
                .day_name Занятие
            .day_list_container
                ul.day_list
                    li Работа в Звёздных Вратах
                    li Работа с Плеядианской семьей света
                    li Практика “Плеядианская сфера исцеления физического, эмоционального, ментального и эфирного тела”