section#plan
    #practics
        .container
            p.practics_par.practics_par_first Все практики ведутся в Энергии Звездных Врат
            p.practics_par
                span Звездные Врата 
                | - это одно из самых эффективных устройств нашего времени, которое способствует быстрому расширению сознания. Это межпространственный портал
            p.practics_par Знания о Звездных вратах получены путем ченнелинга от Альказара (хранителя и держателя ЗВ) Прагитом Харрисоном (США)
    .container
        h3.plan_title План курса            