section#results
    .container
        .for_container
            h3.for_title.results_title По результатам прохождения мини-курса, Вы:
            ul.for_list.result_list
                li Вернете свои духовные силы, которые принадлежать вашей Душе по праву рождения;
                li Навязанные мысли, негативные эмоции, заряженные страхом - перестанут существовать в вашей жизни;
                li Восстановите правильное течение энергии во всем теле;
                li Активируете Духовные таланты и способности вашей Души;
                li Исцелите физическое, эмоциональное, ментальное и эфирное тело
        .clearfix