section#reveiws
    .container
        h3.reviews_title Отзывы учеников
        #carousel_text.carousel.slide(data-ride="carousel" data-interval="false")
            .carousel-inner(role="listbox")
                .item.active
                    .rev_container
                        img.rev_img(src="img/rev_1.png", alt="Людмила Кочура")
                        h4.rev_title Людмила Кочура
                        p.rev_text Я благодарю Ольгу, за замечательные 3 вебинара с активацией "Звёздных врат", за сопровождение в чудесных медитациях. Это действительно прекрасные моменты и фантастические переживания. Прибавилось энергии, появилась радость и желание действовать. Всё стало как-то быстро решаться и даже то, что я долгое время не могла сдвинуть с места. Я почувствовала, что весь мир помогает мне и любит меня и это так здорово! Благодарю сердечно!
                .item
                    .rev_container
                        img.rev_img(src="img/rev_2.png", alt="Анастасия Ковальчук")
                        h4.rev_title Анастасия Ковальчук
                        p.rev_text Огромная вам благодарность за такой волшебный и очень ценный вебинар по Освобождению от устаревших семейных и родовых программ!!! Практики, действительно очень мощные! Чувствовала огромную поддержку и связь со всеми божественными существами! У меня такой прилив сил и энергии и в то же время легкость и умиротворенность!!! Моя сердечная чакра засияла как изумрудный кристалл!!! Просто потрясающе! Звездные врата творят чудеса! Всем безусловной любви!!! Благодарю!!!
                .item
                    .rev_container
                        img.rev_img(src="img/rev_3.png", alt="Кристина Зарвирова")
                        h4.rev_title Кристина Зарвирова
                        p.rev_text Звездные Врата... Сильная.. Мощная медитация. Не всем под силу. Муж не выдержал, ушёл спать  Для моего уровня было как раз в резонанс с новыми энергиями и частотами, которые открывались на протяжении всего сентября. Это что-то сверх... Сверхмощное, высокочастотное, как всегда, не переводимое на человеческий язык... Благодарю!!! Спать ложилась во Вратах. За новый взгляд на крещение - отдельное спасибо
            .controls
                a( class="left carousel-control" href="#carousel_text" role="button" data-slide="prev")
                    i.fa.fa-angle-left(aria-hidden="true")
                a( class="right carousel-control" href="#carousel_text" role="button" data-slide="next")
                    i.fa.fa-angle-right(aria-hidden="true")