#author
    padding: 404px 0 0
    background-image url(../img/about_bg.jpg)
    background-repeat no-repeat
    background-position: center bottom
    background-size: cover
    margin-top: -180px
.author_title
    font-size: 37px;
    font-family: "PlayfairDisplayBold", sans-serif;
    color: rgb(33, 35, 40);
    line-height: 1.405;
    text-align: center;
    margin-bottom: 42px
#olga
    float left
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    left: -12px;
.author_about
    float right
    width 100%
    max-width calc(100% - 521px)
.author_about_title
    font-size: 27px;
    font-family: "OpenSansBold", sans-serif;
    color: rgb(255, 184, 31);
    line-height: 1.222;
    margin: 64px 0 49px
.author_about_list
    li
        list-style none
        font-size: 16px;
        color: rgb(31, 35, 51);
        line-height: 1.5;
        margin-bottom: 9px
        background-image url(../img/yellow_disc.png)
        background-repeat no-repeat
        background-position 4px 9px
        background-size: 1%
        padding-left: 20px
        span
            font-family: 'OpenSansSemibold', sans-serif