#footer
	background: #242933
	position relative
	padding: 31px 0 39px
	text-align: center
#footer
	h5
		font-size: 27px;
		font-family: "PlayfairDisplayBold", serif;
		color: rgb(255, 255, 255);
		line-height: 0.926;
		margin-bottom: 28px
	p
	#conditions
		font-size: 14px;
		font-family: "OpenSansLight", sans-serif;
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 0 18px 20px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #ffb81f
			color #1C2430
			font-size 20px
			line-height 26px
			border-radius 50%
			border 1px solid rgba(#9a8958, .45)
			&:hover
				opacity .8