#for
    padding 130px 0 145px
    background-image url(../img/for_bg.jpg)
    background-repeat no-repeat
    background-position  center -66px
    background-size: cover
    position relative
    z-index: 19
    margin-top: -90px
.for_container
    float: right
    width 100%
    max-width: 51.4%;
.for_title
    font-size: 37px;
    font-family: "PlayfairDisplayBold", serif;
    color: rgb(33, 35, 40);
    line-height: 1.405;
    text-align: left;
    margin-top: 86px;
    margin-bottom: 64px
    letter-spacing: -0.6px;
.for_list
    li
        list-style none
        font-size: 18px;
        color: rgb(33, 35, 40);
        line-height: 1.1
        margin-bottom: 30px
        background-image url(../img/arrow.png)
        background-repeat no-repeat
        background-position 0 4px
        padding-left: 45px