@media screen and (min-width 2300px)
    .container
        width 1400px
    .pre
    .main_date p:first-child
    .for_list li
    .day_list li
    .en_text
    .int_text
    .price
        font-size: 23px
    .pre span
    .button
    .contacts a .fa+span
    .author_about_list li
        font-size: 21px
    h1
        font-size: 56px
    #main
        padding 45px 0 140px
    #for
    #results
        margin-top: -115px
        padding 245px 0
        background-position: center -350px
    #results
        margin-top: -135px
    .practics_par
        max-width 850px
        font-size: 32px
        &:nth-child(2)
            font-size: 28px
        &:last-child
            font-size: 24px
    .day_container
        max-width 1200px
        height 245px
    .day_name
        top: 12px;
        width: 254px
    .day_num
        left: 71px;
        top: 94px;
        width: 61px;
        height: 61px;
        line-height: 61px;
        font-size: 34px;
    .interest_subtitle
        font-size: 25px
    .flip-clock-divider .flip-clock-label
    .flip-clock-divider.minutes .flip-clock-label
    .flip-clock-divider.seconds .flip-clock-label
        right -72px
    .rev_text
        font-size: 19px
@media screen and (max-width 1199px)
    .contacts a .fa
        margin 0 8px 0 14px
    #for
    #results
        margin-top: -50px
        background-position: center
        padding 100px 0
    #reveiws
        margin-top: -65px
        padding: 80px 0
    #author
        padding-bottom: 60px
        background-position: center bottom
    .author_title
        margin-bottom: 10px
    #olga
        max-width 420px
        bottom: -50px;
    .author_about
        max-width calc(100% - 427px)
    .author_about_title
        margin-bottom: 20px