#plan
    padding 0 0 150px
    background-image url(../img/plan_bg.jpg)
    background-repeat no-repeat
    background-position: center top
    background-size: cover
#practics
    padding 75px 0 93px
    background-image url(../img/aux_1.png)
    background-repeat no-repeat
    background-position: center bottom
    background-size: cover
.practics_par
    font-size: 27px;
    font-family: "PlayfairDisplayBold";
    color: rgba(255, 255, 255, 0.98);
    line-height: 1.5;
    text-align: center;
    text-shadow: 0px 0px 14.82px rgba(0, 0, 0, 0.15);
    width 100%
    max-width 680px
    margin: 0 auto 34px
    span
        color #ffad30
    &:nth-child(2)
        font-size: 22px
    &:last-child
        font-size: 19px
        margin-bottom: 0
.plan_title
    font-size: 37px;
    font-family: "PlayfairDisplayBold", serif;
    color: rgb(33, 35, 40);
    margin 94px 0 20px
    text-align: center