#reveiws
    padding: 126px 0 99px
    background-image url(../img/revs_bg.png)
    background-repeat no-repeat
    background-position: center top
    background-size: cover
    margin-top: -80px
    position relative
    z-index: 20
.reviews_title
    font-size: 37px;
    font-family: "PlayfairDisplayBold", serif;
    color: rgb(255, 255, 255);
    line-height: 1.784;
    text-align: center;
    margin-bottom: 64px
#carousel_text
    width 100%
    max-width 788px
    margin 0 auto
    .item
        padding 50px 20px 20px
.rev_container
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 17.64px 0.36px rgba(14, 4, 4, 0.33);
    padding 53px 50px 30px
    min-height 300px
    position relative
.rev_img
    display block
    margin 0 auto
    position: absolute
    top -50px
    left 0
    right 0
.rev_title
    font-size: 16px;
    font-family: "OpenSansSemibold", sans-serif;
    color: rgb(244, 168, 5);
    line-height: 2.1;
    text-align: center
    margin-bottom: 0
.rev_text
    font-size: 16px;
    font-family: "OpenSansItalic", sans-serif;
    color: rgba(31, 35, 51, 0.902);
    line-height: 1.625;
    text-align: center;
.controls
    position: static
    width 100%
    max-width 130px
    margin 0 auto
    overflow hidden
.carousel-control
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px
    font-size: 24px
    color #ffffff
    text-align: center
    position: static
    display block
    background-color: #ffb81f
    opacity 1
    text-shadow: none
    &.left
        background-image: none
        float left
    &.right
        background-image: none
        float: right
